
name: tests
on: [push, pull_request]
jobs:
  tests:
    name: ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [Ubuntu, MacOS, Windows]
        python-version: [3.8, 3.9]
      fail-fast: false
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3.3.0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2.2.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install nox
        run: |
          pip install nox==2021.6.12

      - name: Install and configure Poetry
        uses: snok/install-poetry@v1.3.0
        with:
          version: 1.1.12
          virtualenvs-create: true
          virtualenvs-in-project: false

      - name: Run tests with nox
        run: nox --force-color -s tests-${{ matrix.python-version }}

      - name: Upload coverage data
        uses: actions/upload-artifact@v2.2.0
        with:
          name: coverage-data
          path: ".coverage.*"

